@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  color: white;
  background-color: rgb(28, 28, 28);
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh; 
  margin:0;
}

/* NAV CSS  */
.logo {
  padding: 20px;
  font-size: 30px;
  font-weight: 300;
  color: aqua;
}

.cart {
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.cart:hover {
  color: aqua;
  transform: scale(20px);
}


.alertProd{
  top: 0;
  z-index: 1;
  
}
.cartAnimate{
  transition: all 500ms;  
}
.cartAnimate:hover{
  transform: scale(1.04);
}

.hidden {
  display: none!important;
}
.cartCountBot{
  position: fixed;
  right: 0%;
  bottom: 5%;
  padding: 0.4%;
  transition: all 300ms;
}
.cartCountBot:hover{

  transform: scale(102%);
}


body {  overflow-x: hidden; /* Hide horizontal scrollbar */ }

@media (max-width:700px){
  .cartCountBot{
        /* right: -4%; */
    /* bottom: 5%; */
    border-radius: 50%;
    background-color: rgba(30, 156, 173, 0.479);
    padding: 2%;
    /* margin: 2px; */
    z-index: 1;
  }
  .cart{
    font-size: 30px;
  }
}


/* HEADER CSS */
.h-container .miHeader {
  color: white;
  background-image: url("../assets/i4.png");
  background-size: cover;
  background-position: center;
}
.h-container .miHeader .intro {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 3%;
  justify-content: center;
  background-color: rgba(18, 18, 18, 0.925);
  align-items: center;
}



/* PRODUCT CARDS CSS */

.present-cards{
    padding: 3%;
    flex: 1;
}
.filter-menu{
  list-style: none;
  padding: 10%;
}
.filterI{
  text-decoration: none;
  color: cyan;
  line-height: 40px;
  transition: all 300ms;
}
.filterI:hover{
  color: red;
}

/* FOOTER CSS */


.miFooter {
  grid-area: foo;
  grid-column: 1/4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
}
.miFooter .contfooter {
  width: 100%;
  font-size: 14px;
  justify-content: space-around;
}
.miFooter .row .foolink {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.miFooter .row .foolink a {
  justify-content: center;
  text-decoration: none;
  color: #fff;
  margin: 10px;
}
.miFooter .row .foolink a:hover {
  color: aqua;
  cursor: pointer;
}
.miFooter .socialsf {
  display: flex;
  justify-content: center;
}
.miFooter .socialsf a {
  margin: 0 10% 0 10%;
  transition: all 1s;
}

.s-fb {
  font-size: 1.4rem;
  color: #7e7e7e;
  transition: all 0.5s;
}

.s-fb:hover {
  color: #2d52a3;
}

.s-ig {
  font-size: 1.4rem;
  color: #7e7e7e;
  transition: all 0.5s;
}

.s-ig:hover {
  color: #bc2a8d;
}

.s-wpp {
  font-size: 1.4rem;
  color: #7e7e7e;
  transition: all 0.5s;
}
.s-wpp:hover {
  color: #1da850;
}

.mobile-off{
  display: none;
}
.mobile-on{
  display: block;
}

@media (max-width:600px){
  .mobile-off{
    display: block;
  }
  .mobile-on{
    display: none;
  }
}

.ondisplay{
  display: none;
}

